.ImageCarousel {
    text-align: center;
    background-color: white;
    /* border: 1px solid; */
    width: 95%;
    /* margin:20px auto; */
    margin: auto;
    padding: 0;
  }
   
   
  .slick-dots li.slick-active button:before {
    color:#F46524 !important;
}

  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  /*  */
  .slick-prev:before,
.slick-next:before {
  color: #F46524!important;
}
  
  
  .slides {
    height: 250px;
    width: 100%;
    margin: auto;
  }
  
  .slides .slick-prev {
    margin: 0;
    padding: 0;
  }

  