.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    
}

.displayBlock{
    display: inline-block;
    width: 100%;
}

.imageSlider img {
    z-index: -10;
    align-content: inherit;
    /* border: 1px solid; */
    width: 100%;
    height: 330px;
    margin: -10 -10;
}

.pageTitle{
    width: 10px;
    font-size: 100px;
}